/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  min-height: 100vh;
}
.heading {
  font-size: 32px;
  color: #0f172a;
  font-family: 'Roboto';
}
.description {
  font-size: 24px;
  font-family: 'Roboto';
  color: #334155;
}
.button {
  width: 80px;
  height: 50px;
  border-radius: 15px;
  color: #1e293b;
}
.para {
  font-size: 18px;
  color: #334155;
  font-family: 'Roboto';
}
